body {
  background: #76b852;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin:0;

}

.container{
  opacity: 0.75;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: blanchedalmond;
  width: 500px;
  padding: 50px;
  position: relative;
  left: 100px;
  top: 80px;
}

button {
  width: 20%;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  position: relative;
  left: 40%;
  
}

.nav {    

  line-height:3;
  background-color: #DCDCDC;
  height : 50px;
  padding: 0;
  margin: 0;
}
.nav-item{
  margin-left: -4px;
  height : 20px;
  padding : 10px ;
  background-color: 4CAF50;
}

a {

  color:#007bff;
  text-decoration:none;
  background-color:transparent;

}
a:hover {

  display: inline-block; 
  padding: 0px 20px;   
  color: white;
  background-color: #4CAF50;
  height: 100%;
  margin-left: -4px;

  

}
.menu, .menu:hover {

  margin: 0;
  display: inline-block; 
  padding: 0 20px;   
  color: white;
  background-color: #4CAF50;
  height: 100%;
}



#id_note {
  position: relative;
  left: 180px;
  max-width: 194px;
  max-height: 60px;
}

label {  

  width: 180px;
  display: inline-block;
}

label.notelabel{
  
  position: relative;
  top: 40px;
}