body{
    background: #76b852;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0%;
}

a {

    color:#007bff;
    text-decoration:none;
    background-color:transparent
  
}
.container {
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    opacity: 0.75;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: blanchedalmond;
    padding: 50px;

}
  
.container td, .container th {

    border: 1px solid #ddd;
    padding: 8px;
}

.container tr:hover {background-color: #ddd;}



.container th {

    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;

}
.note {

    text-transform: none;
}
.nav {
    line-height:2;
    background-color: #DCDCDC;
    height : 40px;
}
.nav-item{
    height : 20px;
    padding : 10px ;
}
  
.notess {

    max-width: 300px; 
    word-wrap: break-word;
    text-transform: none;
}
