{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{% static 'css/day.css' %}" type="text/css" rel="stylesheet">
        
        <title>Document</title>
    </head>

    <body>
        <header>
            <div>
            <nav class="nav">
                <a class="menu">MENU</a>
                <a class="nav-item" href="{% url 'home' %}">Items</a>
                <a class="nav-item" href="{% url 'day' %}">Day</a>
                <a class="nav-item" href="{% url 'show' %}">Item's Details</a>
                <a class="nav-item" href="{% url 'todays_detail' %}">Day's Details</a>
                <a class="nav-item" href="{% url 'logout' %}">Logout</a>



            </nav>
            </div>
        
            {% for message in messages %}
             {% if "day" in message.tags %}
             <div role="alert" class="psd-msg">
                <br><li>{{ message }}</li>
             </div>
             {% endif %}
            {% endfor %}
        </header>

        <div class="container">
            <form method="post" id="DaysForm">
                {% csrf_token %}
                
                <div>
                    <label for="date">Date:</label>
                    {{ form.date }}
                </div>
                <br>
                <div>
                    <label for="fact_open_time">Factory Opened At:</label>
                    <input type = "time" id="fact_open_time" name="fact_open_time">
                </div>
                <br>
                <div>
                    <label for="fact_close_time">Factory Closeed At:</label>
                    <input type = "time" id="fact_close_time" name="fact_close_time" >
                </div>
                <br>
                <div>
                    <label for="setup">Setup:</label>
                    <textarea rows="3" cols="30" id="setup" name="setup" class = "textarea" placeholder="-This field is not necessary."></textarea>

                </div>
                <br>
                <div>
                    <label for="cleansing">Cleansing:</label>
                    <textarea rows="3" cols="30" id="cleansing" name="cleansing" class = "textarea" placeholder="-This field is not necessary."></textarea>

                </div>
                <br>            

                <button type="submit">Add</button> 

        </form>


        </div>
        
        
        

    </body>
</html>









