{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>Document</title>
    </head>

    <body>
        <header>
            <div>
            <nav class="nav">
                <a class="nav-item" href="{% url 'home' %}">Home</a>
                <a class="nav-item" href="{% url 'logout' %}">Logout</a>
                <a class="nav-item" href="{% url 'day' %}">Day</a>

            </nav>
            </div>
        
            {% for message in messages %}
             {% if "day" in message.tags %}
             <div role="alert" class="psd-msg">
                 <li>{{ message }}</li>
             </div>
             {% endif %}
             {% endfor %}
        </header>

        
        <form method="post" id="DaysForm">
                {% csrf_token %}
                
                <div>
                    <label for="date">Date:</label>
                    {{ form.date }}
                </div>
                <br>
                <div>
                    <label for="fact_open_time">Factory Opened At:</label>
                    <input type = "time" id="fact_open_time" name="fact_open_time">
                </div>
                <br>
                <div>
                    <label for="fact_close_time">Factory Closeed At:</label>
                    <input type = "time" id="fact_close_time" name="fact_close_time">
                </div>
                <br>
                <div>
                    <label for="setup">Setup:</label>
                    <input type = "text" id="setup" name="setup">
                </div>
                <br>
                <div>
                    <label for="cleansing">Cleansing:</label>
                    <input type = "text" id="cleansing" name="cleansing">
                </div>
                <br>            

                <input type="submit" value="sbmt">

        </form>
        
        

    </body>
</html>









