{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Day's Details</title>
        <link href="{% static  'css/todays_detail.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <header>
            <nav class="nav">
                    <a class="menu">MENU </a>
                    <a class="nav-item" href="{% url 'home' %}">Items</a>
                    <a class="nav-item" href="{% url 'factorylogs' %}">factorylogs</a>
                    <a class="nav-item" href="{% url 'show' %}">Item's Details</a>
                    <a class="nav-item" href="{% url 'factorylog_detail' %}">factorylog's Details</a>
                    <a class="nav-item" href="{% url 'logout' %}">Logout</a>



            </nav>
        
            {% for message in messages %}
             {% if "factorylog" or "edit_factorylog" in message.tags %}
             <div role="alert" class="psd-msg">
                <br><li>{{ message }}</li><br>
             </div>
             {% endif %}
             {% endfor %}
        </header>

        <div class="fltr">
        <form method="get" class="filter">
            {% csrf_token %}
            {{filter.form.as_p}}
            <button type="submit" value="Search">Search</button>
            </form>
        </div>
        

        <table class="container">

            <tr>
                <th>Date</th>
                <th>Factory Opened At</th>
                <th>Factory Closed At</th>
                <th>Setup</th>
                <th>Cleansing</th>
                <th>delete factorylog</th>
                <th>edit factorylog</th>
                
            </tr>              
            {% for things in filter.qs %}
            <tr>
                <td class="datee">{{ things.date|date:"o-m-d" }}</td>
                {% comment %} <td class="fact_open_time">{{ things.fact_open_time }}</td>
                <td class="fact_close_time">{{ things.fact_close_time }}</td>
                <td class="notess">{{ items.setup }}</td>
                <td class="notess">{{ items.cleansing }}</td>
                <td class="delete"><center><a onclick = "return confirm ('You really want to delete factorylog of {{ things.date}}?')" href="{% url 'delete_factorylog' things.id %}"><li class="fa fa-trash" style="font-size: 25px;"></li></a></center></td>
                <td class="edit"><center><a href="{% url 'edit_factorylog' things.id %}"><li class="fa fa-edit" style="font-size: 25px;"></li></a></center></td> {% endcomment %}
            </tr>
       
            {% endfor %}
        </table>
        <table  class="container">
            <tr>
                <th>total factorylog</th>
            </tr>
            <tr>
                <td>{{ dtotal }}</td>
            </tr>
        </tabel>



    </body>
</html>