{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% comment %} <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% endcomment %}
        <link href="{% static 'css/day.css' %}" type="text/css" rel="stylesheet">
        
        <title>Add Factorylogs.</title>
    </head>

    <body>
        <header>
            <div>
            <nav class="nav">
                <a class="menu">MENU</a>
                <a class="nav-item" href="{% url 'home' %}">Items</a>
                <a class="nav-item" href="{% url 'factorylogs' %}">factorylogs</a>
                <a class="nav-item" href="{% url 'show' %}">Item's Details</a>
                <a class="nav-item" href="{% url 'factorylog_detail' %}">factorylog's Details</a>
                <a class="nav-item" href="{% url 'logout' %}">Logout</a>



            </nav>
            </div>
        
            {% for message in messages %}
             {% if "factorylog" in message.tags %}
             <div role="alert" class="psd-msg">
                <br><li>{{ message }}</li>
             </div>
             {% endif %}
            {% endfor %}
        </header>

        <div class="container">
            <form method="post" id="DaysForm">
                {% csrf_token %}
                
                <div>
                    <label for="date">Date:</label>
                    {{ form.date }}
                </div>
                <br>
                <div>
                    <label for="fact_open_time">Factory Opened At:</label>
                    {{ form.fact_open_time }}
                </div>
                <br>
                <div>
                    <label for="fact_close_time">Factory Closed At:</label>
                    {{ form.fact_close_time }}
                </div>
                <br>
                <div>
                    <label for="setup" class="setuplabel">Setup:</label>
                    {{ formn.setup }}    
                </div>
                <br>
                <div>
                    <label for="cleansing" class="cleansinglabel">Cleansing:</label>
                    {{ formn.cleansing }}
                </div>
                <br>            

                <button type="submit">Add</button> 

        </form>


        </div>
        
        
        

    </body>
</html>









