{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>home</title>
        <link href="{% static 'css/hom.css' %}" type="text/css" rel="stylesheet">
    </head>

    <body>
        

        <nav class="nav">
            <a class="nav-item" href="{% url 'home' %}">Home</a>
            <a class="nav-item" href="{% url 'logout' %}">Logout</a>
            <a class="nav-item" href="{% url 'day' %}">Day</a>
            <a class="nav-item" href="{% url 'show' %}">Show</a>

        </nav>
       

            {% for message in messages %}
                {% if "home" in message.tags %}
                    <div role="alert" class="psd-msg">
                        <br><li>{{ message }}</li>
                    </div>
                {% endif %}
            {% endfor %}
      
       
        <div class="container" >
        <form method="POST" id="ItemsForm">
            {% csrf_token %}
            <div>
                <label for="item_names">Item Name: </label>
                {{ form.item_names }}                     
            </div><br>
            
            <div>
                <label for="rweight">Raw Weight:</label>
                <input type="number" min="0.0" step="0.01" id="rweight" name="rweight" >
            </div><br>

            <div>
                <label for="iweight">Item Weight</label>
                <input type="number" min="0.0" step="0.01" name="iweight" id="iweight">    
            </div><br>

            <div>
                <label for="grade">Quality Grade: </label>
                {{ form.grade }}
            </div><br>
                        
            <div>
                <label for="worker">Worker Name: </label>
                {{ form.worker }}
            </div><br>
            
            <div>
                <label for="note" class="label">Note:</label>
                <textarea rows="3" cols="30" id="note" name="note" class = "textarea"></textarea>
            </div><br>
                    
                <button type="submit">Add</button> 
        
        </form>
        </div>

       
    </body>
</html>
