{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% comment %} <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         {% endcomment %}
        <title>Add Item Details.</title>
        <link href="{% static 'css/hom.css' %}" type="text/css" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav class="nav">
            <a class="menu">MENU </a>
            <a class="nav-item" href="{% url 'home' %}">Items</a>
            <a class="nav-item" href="{% url 'factorylogs' %}">factorylogs</a>
            <a class="nav-item" href="{% url 'show' %}">Item's Details</a>
            <a class="nav-item" href="{% url 'factorylog_detail' %}">factorylog's Details</a>
            <a class="nav-item" href="{% url 'logout' %}">Logout</a>
            </nav>
       

            {% for message in messages %}
                {% if "home" in message.tags %}
                    <div role="alert" class="psd-msg">
                        <br><li>{{ message }}</li>
                    </div>
                {% endif %}
            {% endfor %}
        </header>
       
        <div class="container" >
        <form method="POST" id="ItemsForm">
            {% csrf_token %}
            <div>
                <label for="date">Date:</label>
                {{ form.date }}
            </div>
            <br>
            <div>
                <label for="item_name" >Item Name: </label>
                {{ form.item_id }}                     
            </div><br>
            
            <div>
                <label for="rweight">Raw Weight (kg.):</label>
                {{ form.rweight }}
            </div><br>

            
            <div>
                <label for="grade">Quality Grade: </label>
                {{ form.grade }}
            </div><br>
                        
            <div>
                <label for="worker_name" >Worker Name: </label>
                {{ form.worker_id }}               
            </div><br>
            
            <div>
                <label for="note" class="notelabel">Note:</label>
                <div class="note">{{ form.note }}</div>
            </div><br>
                    
                <button type="submit">Add</button> 
        
        </form>
        </div>

       
    </body>
</html>
