
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet">


    </head>
    <body>




        {% for message in messages %}
            {% if "logout" or "login" in message.tags %}
                <div class="msg">
                    <li>{{ message }}</li>
                </div>
            {% endif %}
        {% endfor %}


        <div class="login-page">
            <div class="form">
              
              <form class="login-form" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="username" name="username"/>
                <input type="password" placeholder="password" name="password"/>
                <button>login</button>
               
                
              </form>
            </div>
        </div>
    </body>
</html>
