{% load static %}



<!DOCTYPE html>
<html>
    <head>
        <title>showwww</title>
        <link href="{% static  'css/show.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>

        <table class="container">

            <tr>
                <th>Item name</th>
                <th>Raw weight</th>
                <th>Product weight</th>
                <th>Grade</th>
                <th>Worker Name</th>
                <th>Note</th>
                
            </tr>              

            {% if all_items %}
                {% for things in all_items %}
  
            <tr class="table-secondary">
                <td class="striker">{{ things.item_names }}</td>
                <td class="striker">{{ things.iweight }}</td>
                <td class="striker">{{ things.rweight }}</td>
                <td class="striker">{{ things.grade }}</td>
                <td class="striker">{{ things.worker }}</td>
                <td class="note">{{ things.note }}</td>
            
            </tr>
       
              {% endfor %}
          {% endif %}
        </table>


    </body>
</html>