{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Item's Details </title>
        <link href="{% static  'css/show.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="head">
               
            <nav class="nav">
            <a class="menu">MENU </a>
            <a class="nav-item" href="{% url 'home' %}">Items</a>
            <a class="nav-item" href="{% url 'day' %}">Day</a>
            <a class="nav-item" href="{% url 'show' %}">Item's Details</a>
            <a class="nav-item" href="{% url 'todays_detail' %}">Day's Details</a>
            <a class="nav-item" href="{% url 'logout' %}">Logout</a>
            </nav>
            
        
            {% for message in messages %}
                {% if "show" or "edit_item" in message.tags %}
                    <div role="alert" class="psd-msg">
                        <br><li>{{ message }}</li><br>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        

        <table class="container">

            <tr>
                <th>Date</th>
                <th>Item name</th>
                <th>Raw weight (kg.)</th>
                <th>Product weight (kg.)</th>
                <th>Grade</th>
                <th>Worker Name</th>
                <th>Note</th>
                <th>delete item</th>
                <th>edit item</th>
            </tr>              

            {% if all_items %}
                {% for things in all_items %}
  
            <tr class="table-secondary">
                <td class="striker">{{ things.date }}</td>
                <td class="striker">{{ things.item_names }}</td>
                <td class="striker">{{ things.rweight }}</td>
                <td class="striker">{{ things.iweight }}</td>
                <td class="striker">{{ things.grade }}</td>
                <td class="striker">{{ things.worker }}</td>
                <td class="note">{{ things.note }}</td>
                <td class="delete"><center><a href="{% url 'delete_item' things.id %}"><i class="fa fa-trash" style="font-size: 25px;"></i></a></center></td>
                <td class="edit"><center><a href="{% url 'edit_item' things.id %}"><i class="fa fa-edit" style="font-size: 25px;"></i></a></center></td>
            </tr>
       
                {% endfor %}
          {% endif %}
        </table>


    </body>
</html>