{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>showwww</title>
        <link href="{% static  'css/show.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div>
            <nav class="nav">
                    <a class="nav-item" href="{% url 'home' %}">Items</a>
                    <a class="nav-item" href="{% url 'day' %}">Day</a>
                    <a class="nav-item" href="{% url 'show' %}">Item's Details</a>
                    <a class="nav-item" href="{% url 'todays_detail' %}">Day's Details</a>
                    <a class="nav-item" href="{% url 'logout' %}">Logout</a>



            </nav>
            </div>
        
            {% for message in messages %}
             {% if "show" in message.tags %}
             <div role="alert" class="psd-msg">
                <br><li>{{ message }}</li><br>
             </div>
             {% endif %}
             {% endfor %}
        </header>
        

        <table class="container">

            <tr>
                <th>Date</th>
                <th>Item name</th>
                <th>Raw weight</th>
                <th>Product weight</th>
                <th>Grade</th>
                <th>Worker Name</th>
                <th>Note</th>
                <th>delete</th>
                
            </tr>              

            {% if all_items %}
                {% for things in all_items %}
  
            <tr class="table-secondary">
                <td class="striker">{{ things.date }}</td>
                <td class="striker">{{ things.item_names }}</td>
                <td class="striker">{{ things.rweight }}</td>
                <td class="striker">{{ things.iweight }}</td>
                <td class="striker">{{ things.grade }}</td>
                <td class="striker">{{ things.worker }}</td>
                <td class="note">{{ things.note }}</td>
                <td class="cross"><center><a href="{% url 'delete_item' things.id %}">delete item</a></center></td>
                <td class="cross"><center><a href="{% url 'edit_item' things.id %}">edit_item</a></center></td>
            </tr>
       
                {% endfor %}
          {% endif %}
        </table>


    </body>
</html>