{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Day's Details</title>
        <link href="{% static  'css/todays_detail.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <header>
            <div>
            <nav class="nav">
                    <a class="menu">MENU </a>
                    <a class="nav-item" href="{% url 'home' %}">Items</a>
                    <a class="nav-item" href="{% url 'day' %}">Day</a>
                    <a class="nav-item" href="{% url 'show' %}">Item's Details</a>
                    <a class="nav-item" href="{% url 'todays_detail' %}">Day's Details</a>
                    <a class="nav-item" href="{% url 'logout' %}">Logout</a>



            </nav>
        
            {% for message in messages %}
             {% if "day" or "edit_day" in message.tags %}
             <div role="alert" class="psd-msg">
                <br><li>{{ message }}</li><br>
             </div>
             {% endif %}
             {% endfor %}
        </header>
        

        <table class="container">

            <tr>
                <th>Date</th>
                <th>Factory Opened At</th>
                <th>Factory Closed At</th>
                <th>Setup</th>
                <th>Cleansing</th>
                <th>delete day</th>
                <th>edit day</th>
                
            </tr>              

            {% if all_items %}
                {% for things in all_items %}
  
            <tr>
                <td class="datee">{{ things.date }}</td>
                <td class="fact_open_time">{{ things.fact_open_time }}</td>
                <td class="fact_close_time">{{ things.fact_close_time }}</td>
                <td class="notess">{{ things.setup }}</td>
                <td class="notess">{{ things.cleansing }}</td>
                <td class="delete"><center><a onclick = "return confirm ('You really want to delete details of {{ things.date}}?')" href="{% url 'delete_day' things.id %}"><li class="fa fa-trash" style="font-size: 25px;"></li></a></center></td>
                <td class="edit"><center><a href="{% url 'edit_day' things.id %}"><li class="fa fa-edit" style="font-size: 25px;"></li></a></center></td>
            </tr>
       
                {% endfor %}
          {% endif %}
        </table>


    </body>
</html>