{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>showwww</title>
        <link href="{% static  'css/todays_detail.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div>
            <nav class="nav">
                <a class="nav-item" href="{% url 'home' %}">Home</a>
                <a class="nav-item" href="{% url 'day' %}">Day</a>
                <a class="nav-item" href="{% url 'show' %}">Show Data</a>
                <a class="nav-item" href="{% url 'todays_detail' %}">Today's Detail</a>
                <a class="nav-item" href="{% url 'logout' %}">Logout</a>



            </nav>
        
            {% for message in messages %}
             {% if "day" in message.tags %}
             <div role="alert" class="psd-msg">
                <br><li>{{ message }}</li><br>
             </div>
             {% endif %}
             {% endfor %}
        </header>
        

        <table class="container">

            <tr>
                <th>Date</th>
                <th>Factory Opened At</th>
                <th>Factory Closed At</th>
                <th>Setup</th>
                <th>Cleansing</th>
                <th>delete day</th>
                
            </tr>              

            {% if all_items %}
                {% for things in all_items %}
  
            <tr class="table-secondary">
                <td class="striker">{{ things.date }}</td>
                <td class="striker">{{ things.fact_open_time }}</td>
                <td class="striker">{{ things.fact_close_time }}</td>
                <td class="striker">{{ things.setup }}</td>
                <td class="striker">{{ things.cleansing }}</td>
                <td class="cross"><center><a href="{% url 'delete_day' things.id %}">delete day</a></center></td>

            </tr>
       
                {% endfor %}
          {% endif %}
        </table>


    </body>
</html>